:root {
  --font-primary: 'Roboto';
  --font-secondary: 'Lato';
}

/* Font Face */

/** Roboto */

@font-face {
  font-family: 'Roboto';
  src: url('./fonts/Roboto-400.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Roboto';
  src: url('./fonts/Roboto-500.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Roboto';
  src: url('./fonts/Roboto-700.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

/** Lato */

@font-face {
  font-family: 'Lato';
  src: url('./fonts/Lato-300.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Lato';
  src: url('./fonts/Lato-400.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Lato';
  src: url('./fonts/Lato-700.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
